*.obj
debug
release
*.ncb
*.suo
*.vcproj*
*.o
moc_*
*~
*.dat
*.pdf
*.opj
*.rtf
*.ppt
*.srf
*.bak
*.grd
*.exe
*.pdb
*.datC
*.datV
*.docx
[0123456789]
Makefile
*.dat[CV]
*.tar.bz2
*.doc
*.idb
*.sln
*.ogg
